.mt-4
  %h1.fs-2.mb-3 食品一覧

  .mb-3= link_to t('general.create'), new_admins_food_path, class: 'btn btn-primary'

  %table.table
    %thead
      %tr
        %th= Food.human_attribute_name(:position)
        %th= Food.human_attribute_name(:name)
        %th= Food.human_attribute_name(:price)
        %th= Food.human_attribute_name(:published)
    %tbody
      - @foods.each do |food|
        %tr
          %td= food.position
          %td= link_to food.name, admins_food_path(food)
          %td #{ number_to_currency(food.price_with_tax) }
          %td= food.published ? "#{t('general.public')}" : "#{t('general.private')}"
